.news-title{
    width: 100%;
    height: 50px;
    background-color: rgba(41,44,47,0.9) !important;
}
.myConstant{
   margin-top: 0 !important;
}
.my-blockquote{
    border-left: 0 !important;
    border-right: 5px solid rgb(237, 176, 89) !important;
    padding-left: 0 !important;
    padding-right: 1.5rem;
}
.news-image div img{
    max-width: 300px;
    height: auto;
}